.area-time {
    max-width: 100vw;
    padding: .2rem 0;
    text-align: center;
    position: relative;
}

h3 {
    border-bottom: solid 4px;
    display: inline-block;
    padding-bottom: .3rem;
}

.area-time .colaboradores {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.input-cor {
    position: absolute;
    top: 20px;
    right: 20px;
}