.campo {
   margin: 1.5rem 0;
}

.campo label {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.campo input {
    background-color: #f8f8f8;
    box-shadow: .6rem .6rem 1.5rem rgba(0, 0, 0, 0.06);
    width: 100%;
    min-height: 50px;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.campo input:focus {
    outline: solid 1px #DDD;
}

